/* <div id="splash">
<h1>Robo Murder Mystery</h1>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Bootstrap
    </a>
  </div>
</nav>

</div>
<main>
<section id="about">About & Credit</section>
<section id="game-rules">Game Rules</section>
<section id="scoreboard"> */
#splash {
  background-image: url("../img/murder-robots-group.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#splash,
section {
  border: solid 2px red;
  padding: 2rem;
}

h1,
nav,
.modal{
  border: solid 2px orange;

}

#modal {
  height: 60%;
  width: 60%;
  top: 10%;
  left: 20%;
}


main {
  opacity: 1; /* Initial opacity */
}

h2 {
  color: white;
  text-align: center;
  padding: 2rem;
}