#testcolors {
  /* position: fixed; */

  color: #14100E; 
  color: #2C2416; 
  color: #575555;
  color: #454444;
  color: #323232;	
  color: #161616;	
  color: #ffcf1d;	

 
}

* {
  font-family: 'Orbitron', sans-serif;

  /* font-family: 'Tilt Neon', sans-serif; */
}

header {
  margin: 2rem;
}
.navbar-brand {
  color: #14100E;
}

.navbar-brand:hover {
  color: #ffcf1d;
}


#splash {
  background-image: url("../img/backgrounds/murder-robots-group.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#sections {
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.439);
}

section {
  background-color: white;

  padding: 1rem;
  border: solid 2px #323232;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

main {
 /* background-color: #2C2416; */
}

h1 {
  margin-bottom: 2rem;
}

h1,
nav,
.modal {
  background-color: rgba(128, 128, 128, 0.439);

  border: solid 2px #454444;
  text-align: center;
  border-radius: 1rem;
}

#modal {
  height: 60%;
  width: 60%;
  top: 10%;
  left: 20%;
}


main {
  opacity: 1;
  /* Initial opacity */
}

h2 {
  color: #14100E;
  text-align: center;
  /* padding: 2rem; */
}

#play-btn {
  background-color: rgba(128, 128, 128, 0.439);
  box-shadow: none;
  border: 2px solid #14100E;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 20px;
}

#play-btn:hover {
  color: #ffcf1d;
  border: solid 2px #ffcf1d;

}

#title-play {
 
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: 40vh;
  align-items: center;
  align-content: center;
  text-decoration: none;
}

h1 {
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.439);
  color: #14100E;
}

.btn-primary,
.btn-primary:focus {
  background-color: #575555;
  border: 2px solid #323232;
  box-shadow: none;
}

.btn-primary:hover {
  color: #ffcf1d;
  border: 2px solid #ffcf1d;
  background-color: #575555;
}

.l-1{
  z-index: 10;
  }
.l-2{
  z-index: 20;
  margin-left:  -150px;
  position:absolute;
}
.l-3{
  z-index: 30;
}

/* Start of intential npc.html stylings */

#npc-main {
  display: none;
}

#npc-body{
  background-image: url('../img/backgrounds/bg1-try-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}


.content
 {
  background-color: rgba(128, 128, 128, 0.439);
}


#get-witness,
#accuse,
#play-npc {
  background-color: rgba(128, 128, 128, 0.439);
  border: 2px solid #323232;
  box-shadow: none;
  border-radius: 1rem;
  padding: 1rem;
  color: #14100E;
}

#get-witness:hover,
#accuse:hover,
#play-npc:hover {
  color:#ffcf1d;
  border: 2px solid #ffcf1d;
  background-color: #575555;
}

footer {
  background-color: rgba(128, 128, 128, 0.439);
  border: 2px solid #323232;
  color: #14100E;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0;
  text-align: center;
  flex-shrink: 0;
}

#player-choice {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}